<% if @display.present? %>
	<div class="row">
	  <div class="col-md-4 col-md-offset-4">
	    <table class="table table-bordered table-striped">
	      <thead>
	        <tr>
	          <th>Issue ID</th>
	          <th>Username</th>
	          <th>Title</th>
	        </tr>
	      </thead>
	      <tbody>
	      
	        <% @display.each do |record| %>
	          <tr>
	            <td><%= record["id"] %></td>
	            <td><%= record["user"]["login"] %></td>
	            <td><%= link_to record["title"], record["html_url"]  %></td>
	          </tr>
	        <% end %>
	      </tbody>
	    </table>
	  </div>
	</div>
<% end %>

