<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Timeline</th>
          <th>No of Issues</th>
        </tr>
      </thead>
      <tbody>
      
        <% @table_data.each do |issue, value| %>
          <tr>
            <td><%= link_to issue, {:action => :clickme, :submit => issue, :repostore_id => @repostore.id}, {method: :post, :remote => true, :id=>"clk", dataType: 'json'} %></td>
<!--             <td><%= link_to "x", issue_path(issue, param1: 'val'), method: :post %></td>
 -->            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="allclick">
    <%= render :partial => 'goclick' %>
</div>