<div class="row">
  <div class="col-md-4 col-md-offset-4">
   <div class='text-center'>
    <p><b>Click on Links to view issues</b></p>
   </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Timeline</th>
          <th>No of Issues</th>
        </tr>
      </thead>
      <tbody>
      
        <% @table_data.each do |issue, value| %>
          <tr>
            <td><%= link_to issue, {:action => :issues_rows, :submit => issue, :repostore_id => @repostore.id}, {method: :post, :remote => true, :id=>"clk", dataType: 'json'} %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="allclick">
    <%= render :partial => 'issue_details' if @display.present? %>
</div>